# auth config
# _auth为user:password的base64编码结果，https://tool.chinaz.com/tools/base64.aspx
_auth=YWRtaW46eXV1Y3EwODE3
always-auth=true
email=test@qq.com
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
registry=https://registry.npm.taobao.org
